div.all{
	font-family: brandon-grotesque;
	background-color: #F7F6F5;
	/*letter-spacing: 5px;*/
	position: relative;
	width: 100%;
    height: 100%;
    margin: 0;
	color: #293835;
	letter-spacing: 4px;        /*відступ між буквами*/
}

div.all div.header{
	background-color: white;
	/*border:1px solid red;*/
	height: 150px;
	margin-top: 20px;
}

div.all div.header p{
	margin-left: 5%;
}
div.all div.header p.logo{
	text-transform: uppercase; /* Заглавные буквы */
	font-size: 30px;
}
div.all div.header p.logo2{
	font-size: 18px;
	letter-spacing: 1px;
}

div.all div.header div.menu{
	/*border: 1px solid orange;*/
	background-color: #F7F6F5;
	width: 60%;
	height:100px;
	margin-left: 40%;
	margin-top: -135px;
	text-align: center;
	font-size: 13px;
	text-transform: uppercase; /* Заглавные буквы */
	/*letter-spacing: 4px;       /*відступ між буквами*/
}

div.all div.header div.menu ul li a{
	text-decoration:none;
	float:left;
	margin-left: 10%;
}

div.all div.header div.menu ul li a:hover{
	text-shadow: #3C5924 0 0 10px;
}

div.all div.header div.menu ul{
	list-style:none;
}
div.all div.aboutUs{
	background-image: url(fon.png);
	/*border:1px solid blue;*/
}
