
#nav {
   /* background-color: #E1351D;
   /* text-align: center;*/
    padding: 20px 0;
}

#nav li a {
    color: #293835;
   /* font-weight: bold;*/
    text-decoration: none;
}

#nav li {
   /* display: inline-block;*/
    margin: 10px 10px;
  /*  list-style: none;*/
    text-align: right;
}

.menu{
	text-align: right;
}

/*#nav li a:hover {
    text-decoration: underline;
}*/

#burger {
    width: 40px;
    height: 40px;
    display: none;
	margin-left:150px;
	margin-top:-10px;
}

#burger div {
    height: 6px;
    margin-bottom: 6px;
    background-color: ;
	border: 1px solid #293835;
}
